
totalcareapi/settings/dev.py
totalcareapi/settings/__pycache__
totalcareapi/users/migrations
# totalcareapi/settings/dev.py
core/migrations/
medicines/migrations/
core/__pycache__/
medicines/__pycache__/
users/__pycache__/
totalcareapi/__pycache__/
users/migrations/__pycache__/
core/signals/__pycache__/

medicines/graph_grpc/__pycache__/
users/migrations/


media/
store/__pycache__/
store/migrations/
.png
.jpg
Keys/
medicines/signals/__pycache__/
Keys/google outh2/client_secret_232446623243-gpvu6hb51b70cdjvmnnqebrp2h2ll6nb.apps.googleusercontent.com.json
medicines/signals/__pycache__/handlels.cpython-311.pyc

media.rar
