
totalcareapi/settings/dev.py
totalcareapi/settings/__pycache__
totalcareapi/users/migrations
totalcareapi/settings/dev.py
core/migrations/
medicines/migrations/
core/__pycache__/
medicines/__pycache__/
users/__pycache__/
totalcareapi/__pycache__/
users/migrations/__pycache__/
